.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #FFFAFF;
  height: 65px;
}

.logo img {
  max-height: 45px;
  margin-left: 2rem;
}

.options nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.options a {
  text-decoration: none;
  margin-right: 2rem;
  margin-left: 20px;
  color: #000;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 76.923% */
  position: relative;
  padding: 0px 0px 5px 0px;
}

nav a::after{
  content: "";
  width: 0%;
  height: 4px;
  background-color: var(--secundary-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

nav a:hover::after{
  width: 100%;
  color: var(--secundary-color);
}
