<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<header class="header">
  <div class="logo">
    <img src="../assets/logo friovel cortada.png" alt="Logo da Empresa">
  </div>
  <div class="options">
    <nav>
      <a class="sidebar_options" href="/home">Home</a>
      <a class="sidebar_options">Contatos</a>
      <a class="sidebar_options">Vendas</a>
      <a class="sidebar_options">Catálogos</a>
      <div class="icon_menu">
        <button mat-icon-button (click)="toggleMenu()">
          <mat-icon class="mat-18">menu</mat-icon>
        </button>
      </div>
    </nav>
  </div>
</header>

<div class="menu_mobile" [ngClass]="{ 'open': isMenuOpen }">
  <div class="menu_content">
    <div class="menu_options">
      <a href="/home">Home</a>
      <a>Contatos</a>
      <a>Vendas</a>
      <a>Catálogos</a>
    </div>
    <div class="socials">
      <h2>Redes sociais</h2>
      <a target="_blank" href="https://www.facebook.com/friovelpb/" class="fa-brands fa-facebook"></a>
      <a target="_blank" href="https://www.instagram.com/friovel/" class="fa-brands fa-instagram"></a>
      <a target="_blank" href="https://www.tiktok.com/friovel/" class="fa-brands fa-tiktok"></a>
      <a target="_blank" href="https://www.linkedin.com/friovel/" class="fa-brands fa-linkedin"></a>
    </div>
  </div>
</div>
