html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  /* Remover margens padrão */
  padding: 0;
  /* Remover preenchimento padrão */
  margin: 0;
  /* Remover margens padrão */
  padding: 0;
  /* Remover preenchimento padrão */
}

h1 {
  color: var(--principal-color, #fea012);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3rem;
}

.btn_blue {
  display: inline-flex;
  align-items: center;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  border: none;
  background-color: var(--secundary-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 2.6875rem;
  cursor: pointer;
  text-align: center;
  /* Alinha o texto à esquerda dentro do botão */
  outline: none;
}

.btn_orange {
  display: inline-flex;
  align-items: center;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  border: none;
  background-color: var(--principal-color);
  color: var(--black-color);
  padding: 0.5rem 1rem;
  border-radius: 2.6875rem;
  cursor: pointer;
  text-align: center;
  /* Alinha o texto à esquerda dentro do botão */
  outline: none;
}

.btn_blue .btn_text,
.btn_orange .btn_text {
  flex: 1;
  /* Distribui o espaço disponível entre o texto e a imagem */
  margin-right: 0.5rem;
  /* Adiciona espaço entre o texto e a imagem */
  font-size: 1rem;
  font-weight: 600;
}

.btn_blue img,
.btn_orange img {
  width: 1.5rem;
  /* Define a largura da imagem para o mesmo tamanho da fonte */
  height: 1.5rem;
  /* Define a altura da imagem para o mesmo tamanho da fonte */
}

.logo {
  flex-shrink: 0;
  margin-right: 20px;
  /* Espaçamento entre logos */
}

//! Parte do carrosel inicial
.outdoor {
  position: relative;
  width: 100%;
  background-color: var(--principal-color);
}

.bar {
  height: 10px;
  /* Defina a altura desejada para as barras */
  width: 100%;
}

.top-bar,
.bottom-bar {
  background-color: var(--principal-color);
  /* Cor da barra superior */
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

//? Estilização especial

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide-indicators {
  z-index: 888;
  position: absolute;
  /* Alterado para position: absolute */
  bottom: 2rem;
  /* Define a distância da borda inferior */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .slide-indicator {
    width: 18px;
    height: 18px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &.active {
      background-color: var(
        --principal-color
      ); // Cor de marcação para o slide atual
    }
  }
}

/* Adicione esta classe para controlar a transição */

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  /* Começa com largura zero para que não seja visível inicialmente */
  height: 100%;
  transition: width 0.5s ease-in-out;
  /* Transição de largura (0,5 segundos) */
  background-color: var(--principal-color);
  /* Cor de fundo que será animada */
  z-index: 999;
  /* Certifique-se de que a cobertura está acima da imagem */
}

.title-content {
  color: var(--principal-color) !important;
  font-size: 3rem;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}

.home {
  position: relative;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--secundary-color);
}

.home:before {
  z-index: 777;
  content: "";
  position: absolute;
  background: rgba(251, 3, 3, 0.034);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content {
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
  margin-left: 2rem;
  text-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.8);
}

.home .content.active {
  display: block;
}

.home .content h1 {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 75px;
  margin-bottom: 40px;

  &::before {
    content: "";
    /* Conteúdo vazio, o elemento atuará como fundo */
    position: absolute;
    /* Define a posição absoluta para que o elemento cubra o texto */
    top: 0;
    /* Alinha o topo do elemento com o topo do texto */
    left: 0;
    /* Alinha a esquerda do elemento com a esquerda do texto */
    right: 0;
    /* Alinha a direita do elemento com a direita do texto */
    bottom: 0;
    /* Alinha o fundo do elemento com o fundo do texto */
    background-color: var(--secundary-color);
    /* Cor de fundo do elemento pseudo-elemento */
    z-index: -1;
    /* Coloca o elemento pseudo-elemento atrás do texto */
    opacity: 0.6;
    /* Opacidade do elemento pseudo-elemento */
  }
}

.home .content h1 span {
  font-size: 1.2em;
  font-weight: 600;
  text-shadow: 20px 20px 40px rgba(0, 0, 2, 2);
  /* Adiciona uma sombra */
}

.home .content p {
  margin-bottom: 65px;
}

.home .content a {
  background: var(--principal-color);
  padding: 15px 35px;
  color: var(--white-color);
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}

.home .content a:hover {
  background: var(--secundary-color);
  color: #fff;
}

.home img {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 560px) {
  .home .content h1 {
    font-size: 3em;
    line-height: 60px;
  }
}

//! Parte da nossa historia
.history_txt {
  margin-right: 8rem;
  margin-left: 4rem;
}

.history_h1 {
  margin-top: 4rem;
}

.history_content {
  display: flex;
  flex-direction: row;
  /* Ou column se desejar empilhar verticalmente */
  align-items: center;
  /* Ajusta o alinhamento vertical */
}

.history_p {
  flex: 1;
  /* Ocupa o espaço restante */
  font-weight: 20;
}

// .history_img {
//   /* Estilos para a imagem */
// }

.span_principal {
  color: var(--principal-color, #fea012);
  font-weight: bold;
  /* Deixa o texto em negrito */
  text-decoration: underline;
  /* Adiciona um traço embaixo do texto */
}

//! Parte da atuação

.operation {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  margin-left: 4rem;
}

.operation_txt {
  flex: 1;
  padding: 2rem;
  text-align: left;
}

.operation_p {
  margin-bottom: 2rem;
  max-width: 60%;
  text-align: left;
}

.btn_group {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.btn_blue,
.btn_orange {
  margin-bottom: 1rem;
}

.operation_img {
  flex: 1;
  padding: 2rem;
  text-align: center;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.operation_img img {
  max-width: 100%;
  height: auto;
}

//! Parte do campo de receitas

/* Estilos gerais */
.recipe {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 40px;
  margin-top: 2rem;

  .recipe_txt {
    flex: 1;
    /* Ocupa todo o espaço disponível à esquerda da imagem */
    max-width: 800px;
    text-align: left;
    margin-left: 4rem;
    margin-right: 2rem;
    /* Adiciona um espaço à direita do bloco com classe .block_one */

    .recipe_p {
      font-size: 1.1rem;
      line-height: 1.6;
      margin-bottom: 20px;
    }
  }

  .recipe_img {
    flex: 1;
    /* Ocupa todo o espaço disponível à direita do texto */
    text-align: center;
    /* Alinha a imagem à direita */

    img {
      max-width: 100%;
      /* Garante que a imagem não ultrapasse a largura do bloco */
      height: auto;
      max-height: 400px;
      /* Define uma altura máxima para a imagem */
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;
    /* Altera a direção do flex para coluna em dispositivos móveis */

    .recipe_txt {
      margin-right: 0;
      /* Remove a margem à direita em dispositivos móveis */
      margin-left: 0;
      /* Remove a margem esquerda em dispositivos móveis */

      .btn_group {
        max-width: 100%;
      }
    }

    .recipe_img {
      margin-top: 2rem;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .recipe_txt {
      margin-right: 1rem;
      /* Espaçamento menor em telas médias */
    }
  }
}

//! Parte carrosel de logos

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.partners {
  margin-top: 6rem;
}

.line_blue {
  background-color: var(--secundary-color);
  height: 2rem;
  width: 100%;
}

.line_yellow {
  background-color: var(--principal-color);
  height: 1rem;
  width: 100%;
}

// Styling
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 150px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 100px;
    width: 250px;
    margin-right: 5rem;
  }
}

//! Parte faq de perguntas

.faq-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  gap: 10px;
}

.faq {
  margin-top: 4rem;
}

.faq-item {
  margin-bottom: 20px;
}

.question {
  font-size: 18px;
  color: var(--white-color);
  background-color: var(--secundary-color);
  height: 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  /* Garante que os elementos estejam empilhados verticalmente */
  justify-content: center;
  /* Alinha horizontalmente no centro */
  margin-left: 1rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  line-height: 20px;
}

.answer {
  font-size: 16px;
  font-weight: bold;
  color: var(--black-color);
  background-color: var(--principal-color);
  height: 5rem;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  /* Garante que os elementos estejam empilhados verticalmente */
  justify-content: center;
  /* Alinha horizontalmente no centro */
  margin-left: 1rem;
}

.margin_faq {
  font-size: 18px;
  font-weight: bold;
  color: var(--black-color);
  height: 3rem;
  border-radius: 1rem 1rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  /* Garante que os elementos estejam empilhados verticalmente */
  justify-content: center;
  /* Alinha horizontalmente no centro */
  margin-left: 1rem;
}

.txt_faq {
  margin-left: 3rem;
}

.btn_faq {
  height: 4rem;
}

.question.clicked {
  border-radius: 1rem 1rem 0 0;
}

.txt_faq {
  margin-left: 3rem;
}

.btn_faq {
  height: 4rem;
}

.question.clicked {
  border-radius: 1rem 1rem 0 0;
}

.txt_faq {
  margin-left: 3rem;
}

.btn_faq {
  height: 4rem;
}

.question.clicked {
  border-radius: 1rem 1rem 0 0;
}

//! Responsividade

@media screen and (max-width: 920px) {
  .btn_outdoor_left,
  .btn_outdoor_right {
    display: none;
  }

  .history_img {
    display: none;
  }

  .operation_img {
    display: none;
  }

  .history_txt {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .operation_p {
    max-width: 100%;
  }

  .operation_txt {
    padding: 0rem;
  }

  .operation {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .faq_h1 {
    font-size: 2rem;
  }
}
