html,
body {
  width: 100%;
  height: 100%;
  margin: 0; /* Remover margens padrão */
  padding: 0; /* Remover preenchimento padrão */
}

h1 {
  color: var(--principal-color, #fea012);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2rem; /* 100% */
}

.btn_blue {
  display: inline-flex;
  align-items: center;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  border: none;
  background-color: var(--secundary-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 2.6875rem;
  cursor: pointer;
  text-align: center; /* Alinha o texto à esquerda dentro do botão */
  outline: none;
}

.btn_orange {
  display: inline-flex;
  align-items: center;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  border: none;
  background-color: var(--principal-color);
  color: var(--black-color);
  padding: 0.5rem 1rem;
  border-radius: 2.6875rem;
  cursor: pointer;
  text-align: center; /* Alinha o texto à esquerda dentro do botão */
  outline: none;
}

.btn_blue .btn_text, .btn_orange .btn_text {
  flex: 1; /* Distribui o espaço disponível entre o texto e a imagem */
  margin-right: 0.5rem; /* Adiciona espaço entre o texto e a imagem */
  font-size: 1rem;
  font-weight: 600;
}

.btn_blue img, .btn_orange img {
  width: 1.5rem; /* Define a largura da imagem para o mesmo tamanho da fonte */
  height: 1.5rem; /* Define a altura da imagem para o mesmo tamanho da fonte */
}

.logo {
  flex-shrink: 0;
  margin-right: 20px; /* Espaçamento entre logos */
}

//! Parte do carrosel inicial
.outdoor {
  position: relative;
  //  height: 45rem; /* Defina a altura desejada */
  width: 100%; /* Defina a largura horizontal */
  background-color: var(--principal-color); /* Apenas para visualização */
}

.bar {
  height: 10px; /* Defina a altura desejada para as barras */
  width: 100%;
}

.top-bar {
  background-color: var(--principal-color); /* Cor da barra superior */
}

.bottom-bar {
  background-color: var(--principal-color); /* Cor da barra inferior */
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.btn_outdoor_left,
.btn_outdoor_right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem; /* Defina a largura desejada para os botões */
  height: 4rem; /* Defina a altura desejada para os botões */
  background-color: var(--white-color); /* Apenas para visualização */
  border: none; /* Remove a borda padrão do botão */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100%;
}

.btn_outdoor_left {
  left: 10px; /* Ajuste a posição do botão esquerdo */
}

.btn_outdoor_right {
  right: 10px; /* Ajuste a posição do botão direito */
}


//! Parte da nossa historia
.history_txt {
  margin-right: 8rem;
  margin-left: 4rem;
}

.history_h1{
  margin-top: 4rem;
}

.history_content {
  display: flex;
  flex-direction: row; /* Ou column se desejar empilhar verticalmente */
  align-items: center; /* Ajusta o alinhamento vertical */
}

.history_p {
  flex: 1; /* Ocupa o espaço restante */
  font-weight: 20;
}

// .history_img {
//   /* Estilos para a imagem */
// }

.span_principal {
  color: var(--principal-color, #fea012);
  font-weight: bold; /* Deixa o texto em negrito */
  text-decoration: underline; /* Adiciona um traço embaixo do texto */
}

//! Parte da atuação

.operation {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  margin-left: 4rem;
}

.operation_txt {
  flex: 1;
  padding: 2rem;
}

.operation_p {
  margin-bottom: 2rem;
  max-width: 60%;
}

.btn_group {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.btn_blue,
.btn_orange {
  margin-bottom: 1rem;
}

.operation_img {
  flex: 1;
  padding: 2rem;
  text-align: center;
}

.operation_img img {
  max-width: 100%;
  height: auto;
}

//! Parte carrosel de logos

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// .carousel {
//   display: flex;
//   overflow: hidden;
//   width: 100%;
// }


@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

.partners{
  margin-top: 6rem;
}

.line_blue{
  background-color: var(--secundary-color);
  height: 2rem;
  width: 100%;
}

.line_yellow{
  background-color: var(--principal-color);
  height: 1rem;
  width: 100%;
}

// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;

	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	.slide-track {
    animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}

	.slide {
		height: 100px;
		width: 250px;
    margin-right: 5rem;
	}
}

//! Parte faq de perguntas

.faq{
  margin-top: 9rem;
  margin-left: 6rem;
}

.question{
background-color: var(--secundary-color);
}

.answer{
  background-color: var(--principal-color);
}
