<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
</head>
<app-header></app-header>

<body>

  <section class="carrosel-banner">
    <div class="bar top-bar"></div>
  <div class="outdoor" (mouseenter)="stopAutoSlide()" (mouseleave)="startAutoSlide()">
    <div class="image-container">
      <img [src]="outdoors[currentImageIndex].src" [alt]="outdoors[currentImageIndex].alt" class="image" />
      <button class="btn_outdoor_left" (click)="prevImage()">
        <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" viewBox="0 0 90 90" fill="none">
          <path
            d="M0 45C0 20.1472 20.1472 0 45 0C69.8528 0 90 20.1472 90 45C90 69.8528 69.8528 90 45 90C20.1472 90 0 69.8528 0 45Z"
            fill="#1F1B18" />
          <path
            d="M82.4054 44.7027C82.4054 49.6539 81.4302 54.5566 79.5354 59.1309C77.6407 63.7052 74.8635 67.8615 71.3625 71.3625C67.8615 74.8636 63.7052 77.6407 59.1309 79.5355C54.5566 81.4302 49.6539 82.4054 44.7027 82.4054C34.7033 82.4054 25.1135 78.4332 18.0429 71.3625C10.9722 64.2919 6.99999 54.7021 6.99999 44.7027C6.99999 39.7515 7.9752 34.8488 9.86994 30.2745C11.7647 25.7002 14.5418 21.5439 18.0429 18.0429C25.1135 10.9722 34.7033 7 44.7027 7C54.7021 7 64.2919 10.9722 71.3625 18.0429C78.4332 25.1135 82.4054 34.7033 82.4054 44.7027ZM25.8513 44.7027L44.7027 63.5541L44.7027 52.2432L59.7838 52.2432L59.7838 37.1622H44.7027L44.7027 25.8514L25.8513 44.7027Z"
            fill="#FFFAFF" />
        </svg>
      </button>
      <button class="btn_outdoor_right" (click)="nextImage()">
        <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" viewBox="0 0 90 90" fill="none">
          <circle cx="45" cy="45" r="45" fill="#1F1B18" />
          <path
            d="M7.29736 45.0001C7.29736 40.0489 8.27257 35.1462 10.1673 30.5719C12.062 25.9975 14.8392 21.8412 18.3402 18.3402C21.8412 14.8392 25.9976 12.062 30.5719 10.1673C35.1462 8.27255 40.0489 7.29735 45.0001 7.29735C54.9994 7.29735 64.5893 11.2696 71.6599 18.3402C78.7305 25.4108 82.7028 35.0007 82.7028 45.0001C82.7028 49.9512 81.7276 54.854 79.8328 59.4283C77.9381 64.0026 75.1609 68.1589 71.6599 71.6599C64.5893 78.7305 54.9994 82.7028 45.0001 82.7028C35.0007 82.7028 25.4109 78.7305 18.3402 71.6599C11.2696 64.5893 7.29736 54.9994 7.29736 45.0001ZM63.8514 45.0001L45.0001 26.1487L45.0001 37.4595L29.919 37.4595L29.919 52.5406L45.0001 52.5406L45.0001 63.8514L63.8514 45.0001Z"
            fill="#FFFAFF" />
        </svg>
      </button>
    </div>
  </div>
  <div class="bar bottom-bar"></div>
  </section>

  <section class="histrory">
      <div class="history_content">
        <div class="history_img">
          <img src="../assets/history_img.svg" alt="" />
        </div>
        <div class="history_txt">
          <h1 class="history_h1">Nossa História</h1>
          <p class="history_p">
            Iniciamos nosso trabalho na atividade de distribuição de alimentos
            como colaboradores em uma empresa na cidade de Cascavel e Foz do
            Iguaçu – PR, no início do ano de 1977. Tivemos a oportunidade de
            aprendermos um pouco deste seguimento. <br />

            Foi então que surgiu a oportunidade de iniciarmos o próprio negócio
            com uma distribuidora na cidade de Guarapuava – PR e sua micro
            região, em parceria com o proprietário da empresa a qual estávamos
            trabalhando. Desta parceria nasceu a empresa
            <span class="span_principal">Friovel Distribuidora de Alimentos Ltda</span>, começando suas atividades no dia
            12 de junho de 1982,
            inicialmente somente com um sócio administrando. <br />

            A empresa iniciou distribuindo a linha de produtos
            <span class="span_principal">Paulista</span>,<span class="span_principal">Frimesa</span>
            e <span class="span_principal">Yakult</span>, e com o passar do
            tempo crescemos e passamos a atender outras praças como: Ponta
            Grossa, Irati, União da Vitória, Pato Branco e região. Devido ao
            crescimento, se fez necessário que os outros sócios também
            ingressassem na administração da empresa. <br />

            Com uma equipe administrativa maior, surgiu a necessidade de
            instalarmos uma unidade na cidade de Pato Branco, para podermos
            atingir o estado de Santa Catarina, isto no ano de 1983, onde
            passamos a implementar novas linhas de produtos na distribuição,
            como: <span class="span_principal">Gradina</span>,
            <span class="span_principal">Fermento Saf</span>,
            <span class="span_principal">Duas Rodas</span>,
            <span class="span_principal">Selecta</span>, entre outras. <br />

            Com a intenção de expandir a nossa distribuidora em outras regiões,
            adquirimos uma distribuidora na cidade de Cascavel no ano de 1995, e
            que na época já distribuía a linha de produtos
            <span class="span_principal">Paulista</span> em toda a região oeste
            e parte do norte do Paraná. <br />

            Hoje, estamos com nossa distribuição centralizada em um único Centro
            de Distribuição, na cidade de Pato Branco, de onde atendemos todas
            as regiões, sudoeste, oeste, centro-oeste, sul, parte do norte do
            Paraná e também o oeste de Santa Catarina. (<span class="span_principal">Veja nossos vendedores</span>).
            Atuando no seguimento de produtos lácteos, frigorificados,
            produtos para panificação, confeitaria, sorveteria, food service.
            Procurando levar aos nossos clientes, consumidores e amigos produtos
            da melhor qualidade, de marcas consagradas no mercado e empresas de
            grande gabarito e conceito junto ao consumidor. <br><br>

            <strong>Fazemos isso com muito amor e carinho, pois nosso cliente sempre merece o melhor.</strong>
          </p>
        </div>
      </div>
  </section>

  <section class="operation">
    <div class="operation_txt">
      <h1>Atuação</h1>
      <p class="operation_p">
        A Friovel atua hoje em diversas cidades nos estados do Paraná e Santa
        Catarina. Encontre o representantes mais próximo de você e faça bons
        negócios.
      </p>
      <div class="btn_group">
      <button class="btn_blue">
        <span class="btn_text">Procurar vendedor</span> <img src="../assets/icons/user.svg" alt="" />
      </button>
      <button class="btn_orange">
        <span class="btn_text">Entre em contato</span> <img src="../assets/icons/cellphone.svg" alt="" />
      </button>
    </div>
  </div>
    <div class="operation_img">
      <img src="../assets/map_friovel.svg" alt="" />
    </div>
  </section>

  <section class="partners">
    <h1></h1>
    <div class="slider">
      <div class="slide-track" >
        <ng-container *ngFor="let logo of logos; let rowIndex = index" #slideTrack>
          <div *ngFor="let logo of logos; let i = index" class="slide">
            <a target="_blank" href="{{logo.href}}"><img [src]="logo.src" [alt]="logo.alt" height="95" width="140" /></a>
          </div>
        </ng-container>
      </div>
    </div>
  </section>


  <section class="faq">
    <h1>Dúvidas Frequentes</h1>
    <div *ngFor="let question of faqList" class="faq-item">
      <div class="question" (click)="toggleAnswer(question)">
        {{ question.question }}
      </div>
      <div class="answer" *ngIf="question.showAnswer">
        {{ question.answer }}
      </div>
    </div>
    <button class="btn_orange">
      Entre em contato <img src="../assets/icons/cellphone.svg" alt="" />
    </button>
  </section>

  <app-footer></app-footer>
</body>

</html>
